
    .navbar-brand img {
      height: 30px;
    }
    .dropdown:hover .dropdown-menu{
       background-color: #00b5b7;
       display: block;
    }
    .hov-bg-black:hover{
        background-color: rgba(20, 20, 20, 0.753);
        color: white;
    }
    .hov-click:hover{
        background-color: none;
        color: #00b5b7;
    }
   
    .btn-donate {
      background-color: #00b5b7;
      color: white;
      border: none;
    }
    .btn-donate:hover {
      background-color: #009ea0;
    }
/* HERO SECTION DESIGN */



/* content design */

      body {
      margin: 0;
      background: #d6fcf6;
      font-family: 'Segoe UI', Arial, sans-serif;
    }
    .stats-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.stats-number {
  color: #009B9F;
  font-weight: bold;
  font-size: 2rem;
}

.stats-col {
  padding: 20px;
  text-align: center;
}
.cta-section {
  background-color: #009B9F;
  color: white;
  display: flex;
  flex-direction: column;
  
  padding: 20px;
}

.btn-cta {
  background-color: black;
  color: white;

  padding: 20px;
  border-radius: 15px;
  border: none;
}

.btn-cta:hover {
  background-color: #222;}
/* footer  */
#max-height{
   max-height: px;
   padding-top: 5px;
   margin-right: 50px; 
}
 #imgs-fluid{
margin-bottom: 20px;
margin-right: 30px;
}
#caf{
/* max-height: 100px; */
margin-left: 160px;
margin-top: -80px;
}
#img1-fluid{
   max-height: 60px;
   padding-top: 5px;
   margin-left: 175px; 
   margin-top: -60px;
}
#img2-fluid{
   margin-top: -30px;
   margin-right: 40px;
}
#img3-fluid{
   margin-top: -78px;
   margin-left: 170px;
}
/* us & aadi website */
#text1{
margin-left: 110px;
margin-bottom: 5px;
}
/* out donor */
.donors-section {
      background-color: #00b3b3;
      padding: 60px 0;
    }
    .donors-section h2 {
      color: white;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .donor-logo {
      background: white;
      border-radius: 15px;
      padding: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .donor-logo img {
      max-height: 60px;
      max-width: 100%;
    }
    /* Event Highlights */
       #event-Highlights {
      background-color: #111;
      color: white;
      padding: 30px;
    }
    .event-title {
      color: #00bcd4;
      font-weight: bold;
    }
    .carousel-img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    .event-text {
      font-size: 1rem;
      line-height: 1.6;
    }
    #event2{
      width: 550px;
      margin-left: 80px;
    }
    #btn-event{
      margin-left: 60px;
    }
    #btn-event1{
      margin-right: 60px;
    }
    /*  */
    .event-title{
      margin-bottom: 150px;
    }
    .event-text{
      
    }
  
